<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Score Board Dapp</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">SPORT SCORE BOARD</h1>
        <hr>

        <span class="text-center">
            <label for="form3">SELECT ACCOUNT</label>
            <select v-model="account" id="acct" class="form-control">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </span>
        <hr>

        <div class="row">
            <input type="text" class="col-md-2 form-control" v-model="match.teamA" placeholder="Team A" required>
            <input type="text" class="col-md-2 form-control" v-model="match.teamB" placeholder="Team B" required>
            <input type="number" class="col-md-1 form-control" v-model="match.teamAScore" placeholder="Team A Score" required>
            <input type="number" class="col-md-1 form-control" v-model="match.teamBScore" placeholder="Team B Score" required>
            <input type="text" class="col-md-2 form-control" v-model="match.sport" placeholder="Type Of Sport" required>
            <input type="text" class="col-md-2 form-control" v-model="match.tournament" placeholder="Name Of Tournament" required>
            <button class="col-md-2 btn btn-primary" v-on:click="addMatch(match)">ADD MATCH</button>
        </div>

        <hr>
        <h4 class="text-center">Most Recent Matches</h4>
        <hr>

        <div class="row" id="all-matches">
            
        </div>
    </div>

    <!-- Web3 -->
    <script src="./js/web3.min.js"></script>
    <!-- Vue -->
    <script src="./js/2.4.2/vue.min.js"></script>
    <!-- App -->

    <script type="text/javascript">
        var account = document.getElementById('acct').value;
        var web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));

        web3.eth.defaultAccount = web3.eth.accounts[account];
        console.log(web3.eth.defaultAccount);

        // need to get the smart contract abi and paste as args
        var contractAbi = web3.eth.contract([]);

        // need to get the smart contract address and paste as args
        var contractInstance = contractAbi.at('0x');

        var score_board = new Vue({
            el: '.container',
            data: {
                allMatches: [],
                // web3: new Web3(new Web3.providers.HttpProvider("http://localhost:8545")),
                thisAccount: 0,
                match: {
                    teamA: '',
                    teamB: '',
                    teamAScore: 0,
                    teamBScore: 0,
                    sport: '',
                    tournament: '',
                    createdAt: '',
                },
                selected: false,
                matchId: ''
            },
            computed: {
                accountSelected: function(){
                    return this.selected;
                }
            },
            methods: {
                addMatch: function(match) {
                    var cr = Date.now();
                    match.createdAt = cr;
                    this.contractInstance.createMatch(match.teamA, match.teamB, match.teamAScore, match.teamBScore, match.sport, match.tournament, match.createdAt);
                    console.log(match.teamA + " " + match.teamAScore + " VS " + match.teamBScore + " " + match.teamB);
                },

                getMatches: function() {
                    this.allMatches = this.contractInstance.getAllMatches();

                    this.allMatches.forEach(element => {
                        this.contractInstance.getMatch(function(element){
                            document.getElementById('all-matches').innerHTML = "" +

                            "<span class='col-md-2'>" + element[0] + "</span>" +
                            "<span class='col-md-1'>" + element[2] + "</span>" +
                            "<span class='col-md-2'> VS </span>" + 
                            "<span class='col-md-1'>" + element[3] + "</span>" +
                            "<span class='col-md-2'>" + element[1] + "</span>" +

                            "<span class='col-md-1'>" + element[4] + "</span>" +
                            "<span class='col-md-2'>" + element[5] + "</span>" +
                            "<span class='col-md-2'>" + element[6] + "</span>";
                        });
                    });
                }
            }
        });
    </script>
</body>
</html>